@import 'tailwindcss';

body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  max-height: 100vh;
}

/* Hide scrollbars */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
